.advanced-menu ul{
    list-style-type: none;
    padding : 0;
    display:flex;
}

.advanced-menu ul > li{
    margin:0 15px;
}

.advanced-menu ul > li > a{
    text-decoration: none;
    color : #333;
    position: relative;
    padding-bottom: 5px;
}

/* 주의할 것 가상의사클래스(::)
   작성시 공백있으면 안됌*/
.advanced-menu ul > li > a::after{
    content:'';
    position: absolute;
    width : 0px;
    height: 2px;
    left:50%;
    bottom:5px;
    background-color: #3498db;
    transition : width 0.3s ease, left 0.3s ease
}

.advanced-menu ul > li > a::before{
    content:'';
    position: absolute;
    width : 0px;
    height: 2px;
    left:50%;
    top:0px;
    background-color: tomato;
    transition : width 0.3s ease, left 0.3s ease
}

.advanced-menu ul > li > a:hover::before{
    width : 100%;
    left : 0;
}

.advanced-menu ul > li > a:hover::after{
    width : 100%;
    left : 0;
}