body{
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#developerPicture{
    border-radius : 50%;
    border : 10px solid powderblue;
    width : 250px;
    height : 250px;
}

.container{
    border : black 5px solid;

    margin : 50px;
    padding : 30px;
    width : 450px;
    
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.developerInfo{
    text-align: center;
}

hr {
    width: 400px;
}