body{
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#developerPicture{
    border-radius : 50%;
    border : 5px solid powderblue;
    width : 150px;
    height : 150px;
}

.container{
    border : black 5px solid;
    margin : 50px;
    padding : 30px;
    width : 450px;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.developerInfo{
    text-align: center;
}

.stack{
    border :  rgba(200, 200, 200, 0.8) 2px dashed;
    width : 400px;
    height : auto;
    margin-top : 10px;
    padding-top:30px;
    padding-bottom:30px;
}

.stackInfo{
    background-color: rgba(200, 200, 200, 0.8);
    display:inline;
    border-radius:15px;
    padding:5px;
}

hr {
    width: 400px;
    background-color: rgba(200, 200, 200, 0.8);
}

.stackHead{
    text-align : left;
    margin : 10px;
}

.developerClass{
    text-align: left;
}