*{
    margin : 0;
    padding : 0;
}

div{
    width: 550px;
    height : 190px;
    background-color: rgba(0,244,244, 0.16);
    margin : 80px 60px 40px 20px;
    border : black 1px solid;

    /* padding : 20px   40px   60px   80px; */ 
              /* top    right  bottom left */

    /* padding : 20px    60px         180px; */
                 /* top  right/left   bottom */
    padding : 20px        180px;
           /* top/bottom  right/left */

    /* 
    margin padding 속성값 부여방법
    기준은 4개의 영역
    위  오른쪽  아래  왼쪽.
    */
    margin-left : auto;
}

h1{
    /* h1태그의 넓이를 300px로 지정하고 
    왼쪽 마진을 auto로 지정하니 오른쪽으로 정렬됨.*/
    /* width : 300px; */
    /* margin-left : auto; */
    /* margin : auto; */
    
    width : 300px;
    margin-left : 30px;
}


.contents-box{
    width : 400px;
    border : 5px black solid;
    padding : 40px;
    margin : 70px;
    background-color: darkkhaki;
}

.border-box{
    box-sizing: border-box;
    
    width : 400px;
    border : 5px black solid;
    padding : 40px;
    margin : 70px;
    background-color: darkkhaki;
}