.card {
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
  transition: width 0.3s ease;
}
.card:hover {
  background-color: #e0e0e0;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 300px;
  }
}
@media only screen and (min-width: 768px) {
  .card {
    width: 400px;
  }
}