h1:hover{
    transform: perspective(450px)
                translateX(30px)
                rotateX(45deg)
                rotateZ(45deg)
                ;
    /* perspective : 45px; */
}

h1{
    border: 1px solid black;
    transition: 0.3s;
}

div{
    width: 350px;
    height: 350px;

    display:flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display:flex;
    justify-content: center;
    /* perspective: ; */
}

.menu-item{
    margin: 0 15px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    transition: transform 0.3s;
}

.menu-item:hover{
    transform: perspective(1000px)
               rotateX(-20deg)
               translateZ(40px)
               ;
}