.grid-container{
    display:grid;
    /* grid-template-rows: repeat(3, 150px);
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "header header header"
    "nav main main"
    "footer footer footer" */

    /* grid-template:
    "header header header" 80px
    "nav . main" 300px
    "footer footer footer" 80px /2fr 100px 1fr; */
    /*  위의 grid-template 설정을 풀어서 설명
    grid-template-row : 80px 300px 80px ;
    grid-template-columns : 2fr 100px 1fr;
    */

    gap : 20px 10px;
    /* (row, column) 순서 */


}

header{
    grid-area:header;
    border : 1px solid black;
    background-color: #777;
}
nav{
    grid-area:nav;
    border : 1px solid red;
    background-color: chocolate;
}
main{
    grid-area:main;
    border : 1px solid blue;
    background-color: aquamarine;
}
footer{
    grid-area: footer;
    border : 1px solid black;
    background-color: #aaa;
}

.container{
    /* width: 400px; */
    width: 900px;
    height: 900px;
    display:grid;
    background-color: rgb(120, 172, 172);
    /* grid-template-rows: 100px 150px;
    grid-template-columns: 100px 150px 250px; */
/* fr : (fraction, 공간비율) */
    /* grid-template-rows: repeat(3, 100px); */
    /* width = columns
    width / 요소갯수 = 1fr나옴
    */
    /* grid-template-columns: repeat(3, 1fr); */

    /* auto-rows */
    /* grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 100px 300px;
    grid-auto-rows: 150px; */

    /* grid-auto-flow */
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(3,200px);
    /* grid-auto-flow: row dense; */
    /* grid-auto-flow: column; */

    /* align-content: space-between;
    justify-content: space-between; */

    /* place-content: center space-between; */

}

.item{
    /* width: 100px;
    height: 100px; */
    border:1px solid black;
    background-color: rgb(255, 237, 157);
}

.item:nth-child(1){
    /* order: 5; */
    grid-area: 1 / 1 / 2 / 3;
}
.item:nth-child(2){
    /* order: -5; */
    grid-area: 1 / 2 / 3 / 3;
    z-index: 1;
}
.item:nth-child(3){
    grid-area: 2 / 2 / 3 / 4;
}

.item:nth-child(2){
    /*
    grid-auto-flow 와 연계해서 사용
    (row, row dense, column, column dense)
    */
    /* grid-column: span 2;
    grid-column: 2/ span 2; */
}