@charset "UTF-8";
/*
.fs{
  &-small{font-size:20px;}
  &-medium{font-size:30px;}
  &-big{font-size:40px;}
}


@at-root
구조상 nesting에 속할수밖에 없지만
nesting을 벗어나고 싶을때 사용하는 at-rules
 <- 강사님의 설명과 내 코드의 결과가 다름
 html 구조에서 상속구조를 벗어나지만
 css내용을 상속받고싶을때
 html구조에서 벗어난 요소를 scss에서 
 @at-root를 사용하면 css내용을 상속받을수 있음

*/
.list li {
  width: 150px;
  height: 80px;
}
.box {
  width: 150px;
  height: 80px;
  background-color: crimson;
}